{"openapi":"3.1.0","info":{"title":"GopherMaps API","summary":"REST API for the GopherMaps Project","contact":{"name":"Ryan Roche","url":"https://socialcoding.net/"},"version":"0.0.1"},"servers":[{"url":"https://api.gophermaps.xyz","description":"The production API server."}],"paths":{"/areas":{"get":{"tags":["Buildings"],"summary":"Get Areas","description":"Get all available areas","operationId":"getAreas","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/AreaModel"},"type":"array","title":"Response Getareas"}}}}}}},"/buildings/{area}":{"get":{"tags":["Buildings"],"summary":"Get Buildings By Area","description":"Get all the buildings in a given area","operationId":"getBuildingsForArea","parameters":[{"name":"area","in":"path","required":true,"schema":{"$ref":"#/components/schemas/AreaName","description":"The label name of the requested area"},"description":"The label name of the requested area"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BuildingEntryModel"},"title":"Response Getbuildingsforarea"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/destinations/{building}":{"get":{"tags":["Routing"],"summary":"Get Destinations For Building","description":"Get the destinations reachable from a given building","operationId":"getDestinationsForBuilding","parameters":[{"name":"building","in":"path","required":true,"schema":{"type":"string","description":"The name of the building whose destinations are being queried","title":"Building"},"description":"The name of the building whose destinations are being queried"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BuildingEntryModel"},"title":"Response Getdestinationsforbuilding"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/routes/{start}-{end}":{"get":{"tags":["Routing"],"summary":"Get Route","description":"Get a route between two buildings, a list of the buildings along the route, and their associated thumbnails","operationId":"getRoute","parameters":[{"name":"start","in":"path","required":true,"schema":{"type":"string","description":"The navID of the start building's BuildingKey node","title":"Start"},"description":"The navID of the start building's BuildingKey node"},{"name":"end","in":"path","required":true,"schema":{"type":"string","description":"The navID of the end building's BuildingKey node","title":"End"},"description":"The navID of the end building's BuildingKey node"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RouteResponseModel"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}}},"components":{"schemas":{"AreaModel":{"properties":{"name":{"$ref":"#/components/schemas/AreaName","description":"The name of the area"},"thumbnail":{"type":"string","title":"Thumbnail","description":"The filename of the area's thumbnail image"}},"type":"object","required":["name","thumbnail"],"title":"AreaModel","description":"Represents an area"},"AreaName":{"type":"string","enum":["East Bank","West Bank","St Paul Campus"],"title":"AreaName","description":"Valid AreaModel name strings"},"BuildingEntryModel":{"properties":{"buildingName":{"type":"string","title":"Buildingname","description":"The name of the building"},"thumbnail":{"type":"string","title":"Thumbnail","description":"The filename of the building's thumbnail image"},"keyID":{"type":"string","title":"Keyid","description":"The navID of the building's BuildingKey node"}},"type":"object","required":["buildingName","thumbnail","keyID"],"title":"BuildingEntryModel","description":"Represents an entire building"},"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"NavigationNodeModel":{"properties":{"buildingName":{"type":"string","title":"Buildingname","description":"The name of the building the node belongs to"},"floor":{"type":"string","title":"Floor","description":"The floor in the building this navigation node is in"},"navID":{"type":"string","title":"Navid","description":"The navID of the Neo4j node the model represents"},"image":{"type":"string","title":"Image","description":"The reference image for the navigation node"}},"type":"object","required":["buildingName","floor","navID","image"],"title":"NavigationNodeModel","description":"Represents a single \"step\" of a navigation route"},"RouteResponseModel":{"properties":{"pathNodes":{"items":{"$ref":"#/components/schemas/NavigationNodeModel"},"type":"array","title":"Pathnodes"},"buildingThumbnails":{"additionalProperties":{"type":"string"},"type":"object","title":"Buildingthumbnails"}},"type":"object","required":["pathNodes","buildingThumbnails"],"title":"RouteResponseModel","description":"Wrapper for responses to getRoute"},"ValidationError":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"}}}}